:root {
    --gray-light: #E7E7E7;
    --gray: #CECACA;
    --gray-semi-dark: #545454;
    --gray-gark: #343434;
    --dark-gray-rgb: 84, 84, 84;
    --gray-smoke: #73808D;

    --text-color: #000000CC;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Play", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    font-style: normal;
    background: linear-gradient(#0338F4B5, #E025CEC9) no-repeat;
}
ul {
    margin: 12px 0 0;
    padding-left: 23px;
}

.container {
    max-width: 1340px;
    min-width: 1040px;
    margin: 16px auto;
    padding: 0 20px;
    display: flex;
    gap: 32px;
}

.person {
    background-color: #C4C4C44D;
    border-radius: 10px;
    padding: 32px;
    width: 35%;
    max-width: 430px;
    min-width: 350px;
}
    .person-photo-container {
        display: flex;
        justify-content: center;
    }
        .person-photo {
            border-radius: 50%;
        }
    .person-info {
        margin-top: 8px;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
        .person-info__name {
            color: var(--gray);
            font-size: 24px;
            margin: 0;
        }
        .person-info__from {
            color: #FFFFFF;
            font-size: 36px;
            margin: 0;
        }
        .person-info__job {
            color: var(--gray);
            font-size: 24px;
        }
    .person-properties-list {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        color: #fff;
    }
        .person-property {
            background-color: #C4C4C459;
            border-radius: 10px;
            padding: 16px;
        }
            .person-property--inline {
                display: flex;
                align-items: center;
                gap: 24px;
                padding: 7px 16px;
            }
            .person-property__title {
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 8px;
            }
    .person-lang-list {
        display: flex;
        flex-direction: column;
        gap: 4px;
        line-height: 18px;
    }
    .person-lang {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .person-rating {
        display: flex;
        gap: 4px;
    }
        .person-rating-point {
            background-color: var(--gray);
            width: 8px;
            height: 8px;
            border-radius: 50%;
        }
        .person-rating-point--active {
            background-color: rgba(var(--dark-gray-rgb), 0.6);
        }

.main-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 32px 14px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    color: var(--text-color);
}
    .section-title {
        margin: 0 0 12px;
        position: relative;
        display: flex;
        align-items: center;
    }
        .section-title__content {
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            min-width: 164px;
            width: fit-content;
            text-transform: uppercase;
            color: #fff;
            background-color: var(--gray-semi-dark);
            border-radius: 4px;
            text-align: center;
            padding: 3px 20px;
        }
        .section-title:after {
            content: '';
            background-color: var(--gray-semi-dark);
            height: 1px;
            flex: 1;
        }
    .short-info + .short-info {
        margin-top: 12px;
    }
        .short-info__title {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
        }
        .short-info__subtitle {
            color: var(--gray-gark);
            font-size: 16px;
            line-height: 18px;
        }
        .short-info__years {
            color: var(--gray-smoke);
        }
        .short-info__description {
            margin-top: 8px;
        }
    .radial-info-list {
        display: flex;
        gap: 16px;
    }
        .radial-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 4px;
            width: 100px;
        }
        .radial-info__box {
            --p:attr(data-value);
            --v:calc( ((18/5) * var(--p) - 90)*1deg);

            width: 56px;
            height: 56px;
            border-radius: 50%;
            padding: 4px;
            background:
                    linear-gradient(var(--gray-light),var(--gray-light)) content-box,
                    linear-gradient(var(--v), #fff     50%,transparent 0) 0/min(100%,(50 - var(--p))*100%),
                    linear-gradient(var(--v), transparent 50%,#3B5999        0) 0/min(100%,(var(--p) - 50)*100%),
                    linear-gradient(to right, #f2f2f2 50%,#3B5999 0);

            color: var(--gray-semi-dark);
            font-size: 14px;
            font-weight: 700;

            display: flex;
            align-items: center;
            justify-content: center;
        }
        .radial-info__title {
            font-size: 12px;
            font-weight: 700;
            line-height: 18px;
            color: var(--gray-semi-dark);
            text-align: center;
            font-family: "Montserrat", sans-serif;

        }