html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: #E4E4E4;
    min-width: 320px;
}

html {
    font-size: 10px;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.game {
    width: 100%;
    max-width: 620px;
    margin: auto;
    padding: 20px;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    gap: 2rem;
}
    .game-board {
        position: relative;
        background: #F5F5F5;
        border-radius: 37px;

        padding-bottom: 100%;
    }
    .game-board__fields {
        position: absolute;
        inset: 5%;

        display: grid;
        gap: 5%;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    .game-field {
        background-color: #E4E4E4;
        border-radius: 10%;
        box-shadow: 10px 10px #1F1F1F;
        transition: .3s ease;
        padding: 10%;
        position: relative;
        -webkit-tap-highlight-color: transparent
    }
        .game-field:has(.game-field__input:not(:checked):not(:disabled)){
            cursor: pointer;
        }
            .game-field:has(.game-field__input:not(:checked):not(:disabled)):hover {
                box-shadow: 5px 5px #1F1F1F;
            }
        .game-field__input {
            display: none;
        }
        .game-field__mark {
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0;
            transition: .3s ease;
        }
        [data-current-player="X"] .game-field:hover .game-field__input:not(:checked)+.game-field__mark {
            background: url('./img/x.svg') no-repeat;
            background-size: cover;
            opacity: 0.15;
        }
        [data-current-player="0"] .game-field:hover .game-field__input:not(:checked)+.game-field__mark {
            background: url('./img/0.svg') no-repeat;
            background-size: cover;
            opacity: 0.15;
        }
        .game-field__input:checked+.game-field__mark {
            opacity: 1;
        }
            .game-field__input[value="X"]:checked+.game-field__mark {
                background: url('./img/x.svg') no-repeat;
                background-size: cover;
            }
            .game-field__input[value="0"]:checked+.game-field__mark {
                background: url('./img/0.svg') no-repeat;
                background-size: cover;
            }
    .game-field:after {
        content: '';
        height: 10px;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 0;
        background: red;
        margin: auto;
        z-index: 1;
        pointer-events: none;
        border-radius: 10px;
        transform-origin: left center;
    }
        .game:not([data-current-player]) .game-field:after {
            transition: width .5s ease;
        }
        .game-field[data-line-direction]:after {
            width: 236%;
        }
        .game-field[data-line-direction='vertical']:after {
            transform: rotate(90deg);
        }
        .game-field[data-line-direction='diagonal1']:after {
            transform: rotate(45deg);
            width: 330%;
        }
        .game-field[data-line-direction='diagonal2']:after {
            transform: rotate(135deg);
            width: 330%;
        }
    .game-result, .game-reset, .game-name {
        height: 6rem;
        padding: 0 10px;
        font-weight: 800;
        font-size: 3rem;
        color: #212121;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F5F5F5;
        border-radius: 16px;
    }
    .game-reset {
        cursor: pointer;
        background-color: #212121;
        color: white;
        user-select: none;
    }
        .game:not([data-current-player]) .game-name {
            display: none;
        }
        .game[data-current-player] .game-reset {
            display: none;
        }
        .game-reset__icon {
            width: 1em;
            height: 1em;
            fill: currentColor;
            margin-right: 1.6rem;
        }